


<div class="container mt-5">
    <div class="row">
      <section class="col-md-6">
        <h2>All Members</h2>
        <div class="table-responsive table-container">
          <table class="table table-striped">
            <thead class="custom-header">
              <tr>
                <th scope="col">
                  <input [(ngModel)]="filter" (ngModelChange)="onFilterChange()" class="form-control" placeholder="Filter by name" />
                </th>
              </tr>
              <tr>
                <th scope="col">All Members</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of filteredCustomers">
                <td>{{ customer.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <section class="col-md-6">
        <img src="assets/portrait-young-employee-team (1).png" class="w-100 pt-4" alt="">
      </section>
    </div>
  </div>