<div class="container mt-5">
  <div class="row">
    <section class="col-md-12">
      <h2>Customer Transactions</h2>
      <div class="table-responsive table-container">
        <div class="row mb-3">
          <div class="col-md-12">
            <input [(ngModel)]="filter" (ngModelChange)="applyFilters()" class="form-control" placeholder="Search by customer name or amount" />
          </div>
        </div>
        <table class="table table-striped">
          <thead class="custom-header">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Customer Name</th>
              <th scope="col">Date</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of filteredTransactions">
              <td>{{ transaction.id }}</td>
              <td>{{ transaction.customer_name }}</td>
              <td>{{ transaction.date }}</td>
              <td>{{ transaction.amount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
